<h3>Home</h3>
<a asp-controller="Home" asp-action="Index">Home</a>
<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Manager</a>
<a asp-controller="Admin" asp-action="LogOut">LogOut</a>

<h4>Identity</h4>
<div>
    <p>UserName: @ViewBag.UserName</p>
</div>
<div>
    <p>IsAuthenticated: @ViewBag.IsAuthenticated</p>
</div>