<h3>Admin</h3>
<a asp-controller="Home" asp-action="Index">Home</a>
<a asp-controller="Admin" asp-action="LogOut">Log out</a>

<h4>Identity</h4>
<div>
    <label>UserName: </label>
    <p>@ViewBag.UserName</p>
</div>
<div>
    <label>IsAuthenticated: </label>
    <p>@ViewBag.IsAuthenticated</p>
</div>